body{
    background-color: #373535;
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
  }
  table{
    font-size: 1.2rem;
  }
  tr,td{
    padding: 10px;
  }

  hr{
    margin-top: 50px;
  }
  h3{
      text-align: center;
      margin-bottom: 4%;
      margin-top: 2%;
  }
  .button{

    margin-left: 47%;
  }
