.ma{
  width: 30px;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(".PNG"); /* The image used */
 background-color: #cccccc; /* Used if the image is unavailable */
 height: 500px; /* You must set a specified height */
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; /* Resize the background image to cover the entire container */
}
.start{
  background-color: #0D540E;
  background-image: linear-gradient(to bottom right, #0D540E, yellow);

}
.title1{
  margin: 50px;
  padding: 50px;
}
.Event-image{
  margin-left: 200px;
  float: left;
  margin-bottom: 100px;
}
.paster-text{
  text-align: center;
  position: relative;
  top: 50px;
  margin-left: 100px;
}
#authority{
background-color: #121212;
}
.ppp{
  width: 192px;
  margin-left: 100px;
}
.card-body{
  text-align: center;
  background-color: #121212;
}
.card-header{
  background-color: #121212;
}
.auth{
  background-color: #121212;
}
.authp{
  color: #fff;
}
.title-image{
  position: relative;
  bottom: 20px;
}
